@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://npmcdn.com/react-bootstrap-table@2.7.1/dist/react-bootstrap-table-all.min.css');
@import url('https://unpkg.com/react-select/dist/react-select.css');
// @import '../../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min.css';
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  margin-bottom: 50px;
  margin-top: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  //background: linear-gradient(#48B 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #48B 50%, rgba(255, 255, 255, 0) 0) 55px 0 #FFF;
  background-color: white;
  //background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
}

.navbar-fixed-top {
  border: 0;
}

.navbar {
  background: #49ba8e;
}

.navbar-brand {
  color: #fff;
}

.navbar-brand:hover {
  color: white;
}

.screen {
  background-color: gainsboro;
  border: 2px solid gainsboro;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 91%;
}

 .hide {
   display: none;
 }

 .imgStyle {
  width: 300px;
  height: 280px;
 }

.cursorPointer {
  cursor: pointer;
}

div {
  font-family: arial;
  font-size: 14px;
}

.summary-text {
  font-weight: bolder;
  font-size: 16px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  border-top-color: #49ba8e;
  height: 4pc;
}

.movie-details-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 430px;
}

.movie-details {
  font-size: 20px;
  border: #49ba8e solid 1px;
  background: #b1ebd8;
  border-top-left-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 425px;
}

.movie-details-items {
  margin-top: 15px;
}

.pick-seat-text {
  height: 20px;
  vertical-align: bottom;
  color: white;
  border-bottom: white solid;
  border-bottom-width: 2px;
  width: 95px;
}

.panel-container {
  margin-left: 12.5%;
  width: 75%;
  margin-top: 25px;
  border-color: #49ba8e;
  border-radius: 0px;
}

.panel-heading {
  background: #49ba8e;
  border-radius: 0px;
}

.panel-body-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: space-between;
  justify-content: space-between;
}

.selected-seat-text {
  align-self: center;
  background-color: gainsboro;
  border: 7px solid gainsboro;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  color: black;
}

.amount-text {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 50px;
  border-top-color: green;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: right;
}

.seat-container {
  width: 65%;
  flex-direction: column;
  display: flex;
}

.seat-layout {
  display: flex;
  flex-direction: column;
}

.seat-rows {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.seat-row-name {
  flex-direction: row;
  display: flex;
  width: 6.3%;
  justify-content: center;
}

.seat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 6.3%;
}

.seat-occupied {
  border-radius: 10px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  height: 40px;
  background-color: #eaeaea;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ccc;
}

.seat-free {
  border-radius: 10px;
  border-style: solid;
  border-color: #49ba8e;
  border-width: 1px;
  height: 40px;
  background-color: white;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  color: black;
}

.selected {
  background-color: #49ba8e;
  border-color: #49ba8e;
  color: white;
}

.price-summary {
  font-size: 14px;
  font-weight: lighter;
}

.legend {
  margin-left: 173px;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.legend-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.legend-item {
  width: 45px;
  cursor: default;
  margin-left: 20px;
  margin-right: 20px;
}

.legend-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend-head-text {
  font-size: 16;
  font-weight: bold;
}

.button-legend {
  background: #49ba8e;
  color: white;
  border: none;
  border-radius: 0px;
}

.button-legend:hover, .button-legend:active, .button-success:hover, .button-success:active, .button-success:focus {
  background: #49ba8e;
  color: white;
  border-color: green;
}

.button-success {
  background: #49ba8e;
  border-radius: 0px;
  color: white;
  width: 100%;
}

.button-checkout-container {
  display: flex;
  flex-direction: row;
  width: 35%;
  height: 3em;
  justify-content: center;
  align-self: center;
}

.ticket-summary-text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}

.loader {
  color: #cc1119;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
