@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://npmcdn.com/react-bootstrap-table@2.7.1/dist/react-bootstrap-table-all.min.css');
@import url('https://unpkg.com/react-select/dist/react-select.css');
// @import '../../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min.css';
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  margin-bottom: 50px;
  margin-top: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  //background: linear-gradient(#48B 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #48B 50%, rgba(255, 255, 255, 0) 0) 55px 0 #FFF;
  background-color: white;
  //background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
}

.navbar-fixed-top {
  border: 0;
}

.navbar {
  background: #49ba8e;
}

.navbar-brand {
  color: #fff;
}

.screen {
  background-color: gainsboro;
  border: 2px solid gainsboro;
  margin-bottom: 10px;
  text-align: center;
}

 .hide {
   display: none;
 }

 .imgStyle {
  width: 300px;
  height: 280px;
 }

.cursorPointer {
  cursor: pointer;
}

div {
  font-family: arial;
  font-size: 14px;
}

.summary-text {
  font-weight: bolder;
  font-size: 16px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.flexFooter {
  display: flex;
  justify-content: space-between;
}

.movie-details {
  font-size: 20;
  background: #dff0d8;
  height: 415px;
}

.movie-details-items {
  margin-top: 15px;
}

.pick-seat-text {
  height: 20;
  vertical-align: bottom;
  color: maroon;
  border-bottom: maroon solid;
  border-bottom-width: 2px;
  width: 95px;
}

.panel-container {
  margin-left: 15%;
  width: 70%;
  margin-top: 25px;
}

.selected-seat-text {
  align-self: center;
}

.col-md-1 {
  margin: .8% !important;
}

.amount-text {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 50px;
  border-top-color: green;
  border-top-style: solid;
  border-top-width: 1;
  text-align: right;
}

.seat-container {
  padding-top: 10;
  padding-left: 25;
  margin-left: 25%;
  border-style: solid;
  border-width: 1;
  height: 420;
  background-color: white;
}

.seat-occupied {
  border-radius: 10px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1;
  height: 40;
  background-color: #eaeaea;
  margin-right: 5;
  margin-left: 5;
  margin-top: 5;
  margin-bottom: 5;
}

.seat-free {
  border-radius: 10px;
  border-style: solid;
  // border-color: #00bfff;
  border-color: #49ba8e;
  border-width: 1;
  height: 40;
  background-color: white;
  margin-right: 5;
  margin-left: 5;
  margin-top: 5;
  margin-bottom: 5;
  cursor: pointer;
}

.selected {
  background-color: #49ba8e;
  border-color: #49ba8e;
}

.legend {
  margin-left: 175px;
}

.legend-item {
  width: 45px;
  cursor: default;
}

.legend-head-text {
  font-size: 16;
  font-weight: bold;
}

.price-summary {
  font-size: 14px;
  font-weight: lighter;
}

.loader {
  color: #cc1119;
  bg: #ffb85b;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
